---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	color: $black;
	clear: both;
	display: block;
	
}

.container {
  margin: 0 auto;
  padding: 0 .5em;
  width: 65%;
  
  @include mobile {
    width: 95%;
	padding: .1em;
  }
}

.footerContainer {

	margin: 0 auto;
	padding: 0;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  
  
  font-weight: bold;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
	
	font-family: 'Kalam', sans-serif;
	margin-top: 0px;
	//display: inline;
	font-size: 2em;
	//font-weight: bold;
  
  a {
    color: inherit;
  }
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em
}

h4 {
  font-size: 1em;
}

p {
  margin-top: 1em;
  line-height: 1.1em;
  clear:both;
  
}

a {
	text-decoration: none;
	cursor: pointer;
	&:link, &:hover, &:active, &:visited {
		color: $gray;
	}
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.social {
	float: left;
	display: inline-block;
	margin-top: .25em;
	margin-bottom: 1.5em;
}

.twitter-share-button {
	vertical-align: top;
}

.fb_iframe_widget span {
	margin-top: 0;
}

.fb-share-button {
	vertical-align: top;
}

.date {
  font-family: 'Kalam', sans-serif;
  //font-style: italic;
  font-size: .9em;
  font-weight: lighter;
  
  color: $gray;
  vertical-align: baseline;
  margin: 1px;   	// cancel out the p margin which throws off alignment. Should be 0 but there's the stupid title to date alignment issue
					// This hack "fixes" it.  CSS is a pain. 

}

.tag-header {
	font-family: 'Kalam', sans-serif;
	margin-top: 1px;
	color: $gray;
}

.tag {
	font-family: 'Kalam', sans-serif;
	text-transform: lowercase;
	color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 0px;
}

.masthead {
  padding: 1em 0 .25em 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-avatar {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  text-align: center;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 2.5em;
  letter-spacing: .25em;
}

.site-description {
  margin: .25em 0 0 0;
  color: $gray;
  font-size: 1em;

  @include mobile {
    margin: 3px 0;
  }
}

ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
}

li.nav {
	float: left;
}

li.nav a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}


li.nav a:hover {
	background-color: #111111;
}


//
// .main
//

.posts > .post {
  padding-bottom: .5em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    font-size: .75em;
  }
}

.wrapper-footer {
  margin-top: 2.5em;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.gm-style-iw div * {
    overflow: hidden !important;
    line-height: 1.35em;
}


/* Pagination */

.prev a,span {
	margin-top: 1em;
}

.next a,span { 
	margin-top: 1em;
}

.arrow {
	float: left;
}

.dir {	
	float:left;
}
		
.prev .title {
	float:left;
	
	@include mobile {
		display:none;
    }
}
		
.next .title {
	float:left;
	
	@include mobile {
		display: none; 
    }
}
		
.next {
	float: right;
}


@import "svg-icons";

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";  // won't be using  code
