---
layout: default
title: Greg's Safari Njema
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
	<div class="postHeader">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
	  <p class="date">Written: {{ post.date | date: '%b %e, %Y' }}</p>
	  <p class="tag">Location: <a class="tag" href="{{ site.baseurl }}/location/{{ post.category | slugify }}">{{ post.category }}</a></p>
		<div class="tag-list">
			<p class="tag-header">Tags: 
				{% for tag in post.tags %}
					<a class="tag" href="{{ site.baseurl }}/tags/#{{ tag | slugify }}"> {{ tag }}{% unless forloop.last %},{% endunless %}</a>
				{% endfor %}
			</p>
		</div>
	<p><a href="{{ site.baseurl }}{{ post.url }}#disqus_thread" class="faicon fa-comment">comments</a></p>
    </div>  	
	  <div class="entry">
        {{ post.excerpt }}
      </div>

      <p class="read-more"><a href="{{ site.baseurl }}{{ post.url }}">[Continue Reading]</a><p>
    </article>
  {% endfor %}
  
	<div class="footerbar clearfix">
		<div class="prev">
			{% if paginator.previous_page %}
				<a class="arrow" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Newer</a>
			{% else %}
				<span class="arrow">&laquo; Newer</a>
			{% endif %}
			</div>
			<div class="next">
			{% if paginator.next_page %}
				<a class="arrow" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older &raquo;</a>
			{% else %}
				<span class="arrow">Older &raquo;</a>
			{% endif %}	
		</div>
	</div>
  
 
</div>