---
layout: default
title: Greg's Safari Njema
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
	  <p class="date">Written: {{ post.date | date: '%b %e, %Y' }}</p>
	  <p class="tag">Location: <a class="tag" href="{{ site.baseurl }}/location/{{ post.category | slugify }}">{{ post.category }}</a></p>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <p><a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Continue Reading</a><p>
    </article>
  {% endfor %}
  
	<div class="PageNavigation">
		<div class="prev">
			{% if paginator.previous_page %}
				<a class="arrow" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Newer</a>
			{% else %}
				<span class="arrow">&laquo; Newer</a>
			{% endif %}
			</div>
			<div class="next">
			{% if paginator.next_page %}
				<a class="arrow" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older &raquo;</a>
			{% else %}
				<span class="arrow">Older &raquo;</a>
			{% endif %}	
		</div>
	</div>
  
 
</div>