---
layout: default
title: Greg's Safari Njema
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
	
	{% include articleHeader.html isPost=false %}
	
	  <div class="entry">
        {{ post.excerpt }}
      </div>

      <p class="read-more"><a href="{{ site.baseurl }}{{ post.url }}">[Continue Reading]</a><p>
    </article>
  {% endfor %}
  
	<div class="footerbar clearfix">
		<div class="prev">
			{% if paginator.previous_page %}
				<a class="arrow" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Newer</a>
			{% else %}
				<span class="arrow">&laquo; Newer</a>
			{% endif %}
			</div>
			<div class="next">
			{% if paginator.next_page %}
				<a class="arrow" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older &raquo;</a>
			{% else %}
				<span class="arrow">Older &raquo;</a>
			{% endif %}	
		</div>
	</div>
  
 
</div>