---
layout: blank
title: map
---

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Marker Clustering</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 3,
          center: {lat: -28.024, lng: 140.887}
        });
		
		var markers = new Array();
		var current;
		
		//{% assign counter = 1 %}
		{% for location in site.data.locations %}
			{% if forloop.last %}
				createMarker(map,{{ location.latc }},{{ location.longc }},'{{ forloop.index }}','{{ location.name }}',true);
			{% else %}
				markers.push(createMarker(map,{{ location.latc }},{{ location.longc }},'{{ forloop.index }}','{{ location.name }}',false));
			{% endif %}
		{% endfor %}
		
		// Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,{imagePath: '{{ site.baseurl }}/images/m'});
		}
		
		
		
		

		function createMarker(map,latc,longc,label,name,current) {
			
		var geo = {lat: latc, lng: longc};
		var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">' + name + '</h1>'+
            '<div id="bodyContent">'+
            '<p>Some text</p>'+
            '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
            'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
            '(last visited June 22, 2009).</p>'+
            '</div>'+
            '</div>';
		
		var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
		
		if (!current) {
			var marker = new google.maps.Marker({
				position: geo,
				title: name,
				label: label,
			});
			}
		else {
			var marker = new google.maps.Marker({
				position: geo,
				title: name,
				label: 'C',
				map: map
		}
		
		marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
		
		return marker; 
			
		}
		 
  
    </script>
    <script src="{{ site.baseurl }}/scripts/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwHFD0Aoknao8NMZRXfUEllV84Xik370A&callback=initMap">
    </script>
  </body>
</html>
