body {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  	font-family: 'Lobster', serif;
  	font-weight: bold;
}


.date {

  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: .75em;
  font-style: italic;
  font-weight: normal;
  text-decoration: none;
}

p.read-more {
    font-size: .9em;
    text-align: right;
}

