---
layout: default
title: Thailand Gallery
gallery: thailand
---

{% assign searchterm = '/gallery/' | append: page.gallery | append: '/'  %}

Search Term: {{ searchterm }}

{% for image in site.static_files %}
    {% if image.path contains searchterm %}
		<div class="responsive">
			<div class="gallery">
				<a target="_blank" href="{{ site.baseurl }}{{ image.path }}">
					<img src="{{ site.baseurl }}{{ image.path }}" alt="image" title="title" />
				</a>
				<div class="desc">The description</div>
			</div>
		</div>
    {% endif %}
{% endfor %}
