---
layout: default
title: Thailand Gallery
gallery: thailand
---

{% assign searchterm = '/gallery/' | append: page.gallery | append: '/'  %}
<div class="gallery">
{% for image in site.static_files %}
    {% if image.path contains searchterm and image.extname == '.jpg' %}	
			<div class="responsive">
				<div class="image">				
					{% assign desc = image.path | split: '/' | last %}
					{% for line in site.data.[page.gallery] %}
						{% if image.path contains line.file %}
							{% assign desc = line.desc %}
						{% endif %}
					{% endfor %}
					<a href="{{ site.baseurl}}{{ image.path }}" target="_blank">
						<img src="{{ site.baseurl }}{{ image.path }}" title="{{ desc }}" />
					</a>
				</div>
			</div>		
    {% endif %}
{% endfor %}
</div>
