
{% if include.isPost %}
	{% assign p = page %}
{% else %}
	{% assign p = post %}
{% endif %}

<div class="postHeader">
	<h1><a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></h1>
	<time class="faicon fa-calendar" datetime="{{p.date}}">{{ p.date | date: '%b %e, %Y' }}</time>
	<a class="faicon fa-globe" href="{{ site.baseurl }}/location/{{ p.category | slugify }}">{{ p.category }}</a>
	<span class="faicon fa-tag">
		{% for tag in p.tags %}
			<a href="{{ site.baseurl }}/tags/#{{ tag | slugify }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
		{% endfor %}
	</span>
	<a class="faicon fa-comment" href="{{ site.baseurl }}{{ post.url }}#disqus_thread">leave comment</a>
	
	{% if include.isPost %}
		<div class="social">
			<a href="#" class="fbicon faicon fa-facebook-square" title="Share on Facebook">Share</a>
			<a href="#" class="twicon faicon fa-twitter-square" title="Tweet on Twitter">Tweet</a>
		</div>
	{% endif %}
	
</div>