{% if site.sm-links.youtube %}<a href="https://youtube.com/{{ site.sm-links.youtube }}" target="_blank"><i class="svg-icon youtube" alt="youtube" title="youtube"></i></a>{% endif %}
{% if site.sm-links.twitter %}<a href="https://www.twitter.com/{{ site.sm-links.twitter }}" target="_blank"><i class="svg-icon twitter" alt="twitter" title="twitter"></i></a>{% endif %}
{% if site.sm-links.instagram %}<a href="https://instagram.com/_u/{{ site.sm-links.instagram }}" target="_blank"><i class="svg-icon instagram" alt="instagram" title="instagram"></i></a>{% endif %}
{% if site.sm-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.sm-links.linkedin }}" target="_blank"><i class="svg-icon linkedin" alt="linkedin" title="linkedin"></i></a>{% endif %}
{% if site.sm-links.github %}<a href="https://github.com/{{ site.sm-links.github }}" target="_blank"><i class="svg-icon github" target="_blank" alt="github" title="github"></i></a>{% endif %}
{% if site.sm-links.email %}<a href="mailto:{{ site.sm-links.email }}"><i class="svg-icon email" alt="email" title="email"></i></a>{% endif %}
<a href="{{ site.baseurl }}/"><i class="svg-icon blog" target="_blank" alt="blog" title="blog"></i></a>
