---
layout: default
---


{% for gallery in site.data.galleries  %}
	{% assign galleries = galleries | join '|' | append: '|' | append: gallery.id %}
{% endfor %}
{% assign galleries = galleries | split: '|' | sort %}

<p>Photo galleries: <strong>{{ page.galleryid }}</strong>{% if site.data.galleries.size > 1 %},{% endif %}

{% assign comma = false %}
{% for gallery in galleries %}
	{% if gallery != page.galleryid %}
		{% if comma == true %}
			<a href="{{ site.baseurl }}/gallery/{{ gallery }}" class="cutspace">, {{ gallery }}</a>
		{% else %}
			<a href="{{ site.baseurl }}/gallery/{{ gallery }}" class="cutspace">{{ gallery }}</a>
			{% assign comma = true %}
		{% endif %}
	{% endif %}	
{% endfor %}
</p>

{% assign searchterm = '/gallery/' | append: page.galleryid | append: '/small/' %}
<div class="gallery clearfix">
{% for gallery in site.data.galleries %}
	{% if gallery.id == page.galleryid %}
		{% for image in site.static_files %}
			{% if image.path contains searchterm and image.extname == '.jpg' %}	
					<div class="responsive">
						<div class="image">
							{% assign text = '' %}
							{% assign filename = image.name | downcase %}
							{% for line in gallery.images %}
								{% assign linename = line.name | downcase %}		
								{% if filename == linename %}
									{% assign text = line.text %}
								{% endif %}
							{% endfor %}
							<a href="{{ site.baseurl}}/gallery/{{ page.galleryid }}/large/{{ image.name }}" rel="prettyPhoto[{{ page.galleryid }}]" title="{{ text }}">
								<img src="{{ site.baseurl }}/gallery/{{ page.galleryid }}/small/{{ image.name }}" alt="{{ image.name }}" />
							</a>
						</div>
					</div>		
			{% endif %}
		{% endfor %}
		{% break %}
	{% endif %}
{% endfor %}
<a href="http://www.youtube.com/embed/0spY-8n7EHo?rel=0&hd=1" rel="prettyPhoto">click here</a>
</div>


