---
layout: default
---

{% for gallery in site.data.galleries  %}
	{% assign galleries = galleries | join '|' | append: '|' | append: gallery.id %}
{% endfor %}
{% assign galleries = galleries | split: '|' | sort %}
Current gallery: {{ page.galleryid }}
{% assign lastGallery = site.data.galleries | last %} 
Latest gallery:  {{ lastGallery.id }}


{% assign searchterm = '/gallery/' | append: page.galleryid | append: '/'  %}
<div class="gallery">
{% for gallery in site.data.galleries %}
	{% if gallery.id == page.galleryid %}
		{% for image in site.static_files %}
			{% if image.path contains searchterm and image.extname == '.jpg' %}	
					<div class="responsive">
						<div class="image">
							{% assign text = '' %}
							{% assign filename = image.name | downcase %}
							{% for line in gallery.images %}
								{% assign linename = line.name | downcase %}		
								{% if filename == linename %}
									{% assign text = line.text %}
								{% endif %}
							{% endfor %}
							<a href="{{ site.baseurl}}{{ image.path }}" data-lightbox="{{ page.galleryid }}" data-title="{{ text }}">
								<img src="{{ site.baseurl }}{{ image.path }}" alt="{{ image.name }}" />
							</a>
						</div>
					</div>		
			{% endif %}
		{% endfor %}
		{% break %}
	{% endif %}
{% endfor %}
</div>


