---
layout: default
---


{% for gallery in site.data.galleries  %}
	{% assign galleries = galleries | join '|' | append: '|' | append: gallery.id %}
{% endfor %}
{% assign galleries = galleries | split: '|' | sort %}

<p>Galleries: <strong>{{ page.galleryid }}</strong>{% if site.data.galleries.size > 1 %},{% endif %}

{% assign comma = false %}
{% for gallery in galleries %}
	{% if gallery != page.galleryid %}
		{% if comma == true %}
			<a href="{{ site.baseurl }}/gallery/{{ gallery }}" class="cutspace">, {{ gallery }}</a>
		{% else %}
			<a href="{{ site.baseurl }}/gallery/{{ gallery }}" class="cutspace">{{ gallery }}</a>
			{% assign comma = true %}
		{% endif %}
	{% endif %}	
{% endfor %}

&nbsp;
<a href="#photos">Photos</a>
<a href="#videos">Videos</a>
</p>

{% assign searchterm = '/gallery/' | append: page.galleryid | append: '/small/' %}

{% for gallery in site.data.galleries %}
	{% if gallery.id == page.galleryid %}
	<div class="gallery clearfix">
		<a name="photos"></a>
		{% for image in site.static_files %}
			{% if image.path contains searchterm and image.extname == '.jpg' %}	
					<div class="responsive">
						<div class="galleryContent">
							{% assign text = '' %}
							{% assign filename = image.name | downcase %}
							{% for line in gallery.images %}
								{% assign linename = line.name | downcase %}		
								{% if filename == linename %}
									{% assign text = line.text %}
								{% endif %}
							{% endfor %}
							<a href="{{ site.baseurl}}/gallery/{{ page.galleryid }}/large/{{ image.name }}" rel="prettyPhoto[{{ page.galleryid }}_photo]" title="{{ text }}">
								<img src="{{ site.baseurl }}/gallery/{{ page.galleryid }}/small/{{ image.name }}" alt="{{ image.name }}" />
							</a>
						</div>
					</div>		
			{% endif %}
		{% endfor %}
	</div>
	<div class="gallery clearfix">
		<a name="videos"></a>
		{% for video in gallery.videos %}
			<div class="responsive">
				<div class="galleryContent">
					<a href="https://www.youtube.com/watch?v={{ video.v }}?rel=0&hd=1" rel="prettyPhoto[{{ page.galleryid }}_video]" title="{{ video.text }}">
						<iframe src="https://www.youtube.com/embed/{{ video.v }}?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
					</a>
				</div>
			</div>
		{% endfor %}
	</div>

	{% endif %}
	{% break %}
{% endfor %}



