---
layout: default
---

{% include catget.html isPost=false %}

Posts related to: <strong>{{ page.title }}</strong>{% unless cats | size < 2 %},{% endunless %}

{% assign comma = false %}
{% for c in cats %}
	{% if c != page.title %}
		{% if comma == true %}
			<a href="{{ site.baseurl }}/location/{{ c }}" class="smaller cutspace">, {{ c }}</a>
		{% else %}
			<a href="{{ site.baseurl }}/location/{{ c }}" class="smaller cutspace">{{ c }}</a>
			{% assign comma = true %}
		{% endif %}
	{% endif %}
{% endfor %}

{% unless site.categories.[page.category] | size > 0 %}
  <p>No posts in this category at this time.</p>
{% endunless %}

{% for post in site.categories.[page.category] %}
    <article class="post">
	
	{% include postHeader.html  %}

	<div class="entry">
        {{ post.excerpt }}
    </div>	  

      <p class="read-more"><a href="{{ site.baseurl }}{{ post.url }}">[Continue Reading]</a><p>
    </article>
{% endfor %}