---
layout: default
footer: true
---

{% include catget.html social=false %}

<h3>Viewing posts related to: {{ page.title }}{% unless c | size < 2 %},{% endunless %}

{% assign comma = false %}
{% for c in cats %}
	{% if c != page.title %}
		{% if comma == true %},
		{% else %}
			{% assign command = true %}
		{% endif %}
		<a href="{{ site.baseurl }}/location/{{ c }}" class="smaller">{{ c }}</a>
	{% endif %}
{% endfor %}
</h3>

{% unless site.categories.[page.category] | size > 0 %}
  <p>No posts in this category at this time.</p>
{% endunless %}

{% for post in site.categories.[page.category] %}
    <article class="post">
	
	{% include articleHeader.html %}

	<div class="entry">
        {{ post.excerpt }}
    </div>	  

      <p class="read-more"><a href="{{ site.baseurl }}{{ post.url }}">[Continue Reading]</a><p>
    </article>
{% endfor %}