---
layout: default
---

<h2>Posts related to: {{ page.title }}</h2>

{% unless page.content == '' %}
  <p>{{ page.content }}</p>
{% endunless %}

{% unless site.categories.[page.category] | size > 0 %}
  <p>No posts in this category at this time.</p>
{% endunless %}

{% for post in site.categories.[page.category] %}
   <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
	  <p class="date">Written: {{ post.date | date: "%b %e, %Y" }}</p>
	  <p class="tag">Location: <a class="tag" href="{{ site.baseurl }}/location/{{ post.category | slugify }}">{{ post.category }}</a></p>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <p><a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Continue Reading</a><p>
    </article>
{% endfor %}
