---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  <p class="date">
    Written: {{ page.date | date: '%b %e, %Y' }}
  </p>
  
  <div class="entry">
    {{ content }}
  </div>

  <div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{ site.baseurl }}{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{ site.baseurl }{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>
  

  {% include disqus.html %}
</article>