---
layout: default
---

<article class="post">
	
  
  <h1>{{ page.title }}</h1>
  <p class="date">
    Written: {{ page.date | date: '%b %e, %Y' }}
  </p>
	<div class="tag-list">
	T:&nbsp;
	{% for tag in post.tags %}
		<a class="tag" href="#{{ tag | slugify }}"> {{ tag }} </a>
	{% endfor %}
</div>
  
  
	<div class="social">
		<div class="fb-share-button" data-href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" data-layout="button" data-size="small" data-mobile-iframe="true">
			<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flipscomb.ca%2Fblog%2F&amp;src=sdkpreparse"></a>
		</div>
		<a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false"></a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
  
  <div class="entry">
    {{ content }}
  </div>
	
  

   <!-- The notion of previous and next between pages and pagnation is opposite. So to align them the if is refersed
   for pagination getting the previous page gets newer postings. But for page. Getting previous gets older postings. -->

	<div class="PageNavigation">
		{% if page.next.url %}
		<div class="prev">
			<a href="{{ site.baseurl }}{{page.next.url}}" class="arrow">&laquo;&nbsp;</a>
			<a href="{{ site.baseurl }}{{page.next.url}}" class="dir">Newer</a>
			<a href="{{ site.baseurl }}{{page.next.url}}" class="title">: {{page.next.title}}</a>
		</div>
		{% endif %}
		{% if page.previous.url %}
		<div class="next">
			<a href="{{ site.baseurl }}{{page.previous.url}}" class="dir">Older</a>
			<a href="{{ site.baseurl }}{{page.previous.url}}" class="title">: {{page.previous.title}}</a>
			<a href="{{ site.baseurl }}{{page.previous.url}}" class="arrow">&nbsp;&raquo;</a>
		</div>
		{% endif %}
	</div>

	
	{% include disqus.html %}

</article>
